.works {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 4%;
}

.work-item {
  display: flex;
  flex-direction: row;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.work-item img {
  height: 500px;
  overflow: hidden;
  object-fit: cover;
}

.card-text {
  font-family: "Uncut-Sans", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.card-text h1 {
  color: #f6c5b7;
  font-size: 2.3rem;
  margin-top: 10px;
}

.card-text p {
  margin-left: 10%;
  margin-right: 10%;
}

.icons-card {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icons-card a {
  display: flex;
  text-align: center;
  color: white;
  font-size: 25px;
  margin: 0 10px;
  margin-left: 30%;

}

.icons-card a:hover {
  color: #f6c5b7;
}


@media (max-width: 1050px) {
  .work-item {
    flex-direction: column;
  }

  .work-item img {
    width: 100%;
    height: auto;
  }

  .card-text {
    text-align: center;
    margin: 20px 0;
  }
}
