.works {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 4%;
}

.work-item {
  display: flex;
  border: 1px solid #f6c5b7;
}

.work-item img {
  width: 60vw;
  height: 500px;
  overflow: hidden;
  object-fit: cover;
}

.card-text {
  font-family: "Uncut-Sans", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.card-text h1 {
  color: #f6c5b7;
  font-size: 2.3rem;
}

.card-text p{
  margin-left: 10%;
  margin-right: 10%;
}

.icons-card {
  display: flex !important;
  justify-content: center;
  align-items: center; /* Vertically center the child elements */
  margin-top: 25px;
  /* margin-left: 6rem; */
}

.icons-card a {
  display: flex;
  color: white;
  font-size: 25px;
  /* margin-left: 15%; */
}

.icons-card a:hover {
  color: #f6c5b7;
}




*/ @media (min-width: 960px) {
  .works {
    grid-template-columns: repeat(2, 1fr);
  }
}
