h1 {
  text-align: center;
}

.works {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 4%;
}

.work-item {
  display: flex;
  border: 1px solid #f6c5b7;
}

.work-item img {
  width: 60vw;
  height: 500px;
  overflow: hidden;
  object-fit: cover;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-text .icons-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
}

*/ @media (min-width: 960px) {
  .works {
    grid-template-columns: repeat(2, 1fr);
  }
}
