h2 {
  font-weight: 400;
  font-size: 50px;
}

li {
  list-style: none;
}
li .link {
  text-decoration: none;
}

li .link:hover {
  color: #f44529;
}

.cv {
  text-align: center;
  background-image: url("/img/fondo3.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.education {
  margin-top: 15%;
}

.working-tools {
  transition-delay: 200ms;
}

.other-languages {
  transition-delay: 400ms;
  margin-bottom: 2rem;
}

.extra-bit {
  background-color: #f44529;
}
