h2 {
  font-family: "Gruppo";
  text-decoration: none;
}

.cv {
  padding: 8% 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 500px;
}

.education,
.working-tools,
.work-experience,
.other-languages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education h2,
.work-experience h2,
.working-tools h2,
.other-languages h2 {
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
}

.education ul,
.working-tools ul,
.other-languages ul {
  padding: 20px;
  text-align: left;
}

.education li .link,
.working-tools li .link,
.other-languages li .link {
  text-decoration: none;
}

.education li .link:hover {
  color: var(--olivia);
}

.work-experience div {
  max-width: 60%;
}

.work-experience h4 {
  font-weight: bold;
}

.work-experience div p {
  display: inline-block;
}

.web-dev p,
.macondo p,
.content-creator p,
.various p {
  border-left: 1px solid var(--olivia);
  padding-left: 3%;
  font-family: "quicksand";
  line-height: 2rem;
}

.web-dev h4,
.macondo h4,
.content-creator h4,
.various h4 {
  font-family: "Gruppo";
  font-size: larger;
  text-transform: uppercase;
}

/* Media Query for stacking vertically on smaller screens */
@media (max-width: 768px) {
  .cv {
    flex-direction: column;
    margin-top: 50px;
  }

  .education,
  .working-tools,
  .work-experience,
  .other-languages {
    flex-basis: 100%;
    /* Full width on smaller screens */
  }

  .work-experience div {
    max-width: 85%;
  }
}
