nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f8f0e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  font-size: 1rem;
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  font-size: larger;
}

.header .logo h3 {
  display: flex;
}

.header nav ul {
  height: 3rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.header li {
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.header li a {
  color: #0f2c59;
  text-decoration: none;
}

.header a:hover {
  color: #f99417;
  transition: all 300ms;
}

.header .active {
  color: #f99417;
}
