@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");

body {
  color: #ffffff;
  background-color: black;
  margin: 0;
}

/*      THIRD SECTION  |   TEAM     */



.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*  KEYFRAMES ANIMATION */

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

/* Media query for the scrolling, to make it slower and nicer*/

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
