body {
  color: #0f2c59;
}

.home strong {
  color: var(--orange);
}

.home h2,
h3,
h4,
p {
  font-weight: lighter;
}

#container-hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8rem;
  background-image: url("/img/fondo1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
}

#container-hero .hero-text {
  font-family: "Quicksand";
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.hero-text h1 {
  font-size: 2.5rem;
}

.link-small {
  text-decoration: none;
  color: var(--orange);
}

.link-small:hover {
  text-decoration: none;
  color: #772410;
  font-weight: 800;
  transition: all 400ms;
}

.hero-img-section .hero-img {
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-image: url(/img/snd.jpg);
  background-position: 50%;
  border: 3px solid #0f2c59;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 25rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 25rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.icons a {
  color: var(--blue);
  margin-right: 10px;
}

.home .heading,
.page .heading {
  font-style: italic;
  font-size: 40px;
  font-weight: 500;
  color: #0f2c59;
  margin-bottom: 0px;
}

.home a {
  padding: 7px;
  border-radius: 5px;
  text-decoration: none;
}

/*             SECOND SECTION            */

#second-section {
  background-image: url("/img/fondo2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.second-section-text h3 {
  font-size: x-large;
  font-weight: 800;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills p {
  padding-right: 2%; /* Add spacing between the text and images */
  font-size: x-large;
  border-right: 2px solid var(--blue);
}

.skills ul {
  list-style: none;
  display: flex; /* Make the <ul> a flex container */
}

.skills li {
  margin-right: 10px; /* Add spacing between images */
}

.skills ul li {
  cursor: pointer;
}

.skills ul li img:hover {
  transform: translateY(-1rem);
  transition: all 0.5s ease-in-out;
}

.skill:nth-child(2) {
  transition-delay: 200ms;
}

.skill:nth-child(3) {
  transition-delay: 400ms;
}

.skill:nth-child(4) {
  transition-delay: 600ms;
}
.skill:nth-child(5) {
  transition-delay: 800ms;
}

/*              SECOND SECTION         */

.second-section-text {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4rem;
}

.second-section-text h2 {
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-text {
  display: flex;
  flex-direction: column;
}

.contact-text h1 {
  display: inline-block;
  padding: 20px 50px;
  border: 2px solid var(--blue);
  border-radius: 50%;
  font-size: x-large;
  text-align: center;
  color: #0f2c59;
  background: whitesmoke; /* Background color */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  animation: moveLeftRight 5s infinite alternate;
}

/*      THIRD SECTION  |   TEAM     */

.section-heading-wrapper {
  margin-top: 5%;
}

.section-heading {
  display: flex;
  justify-content: center;
  animation: wave 0.5s ease infinite alternate;
  position: relative;
  font-size: x-large;
  font-size: xx-large;
}
p {
  display: flex;
  justify-content: center;
  align-items: center; /* Center the letters vertically within each word */
  margin: 0 5px; /* Adjust the spacing between words as needed */
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*  KEYFRAMES ANIMATION */

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(-45px); /* Start position */
  }
  100% {
    transform: translateX(25px); /* End position (adjust the value as needed) */
  }
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

/*  MEDIA QUERIES */

@media (max-width: 884px) {
  #container-hero {
    text-align: center;
    flex-direction: column-reverse;
    height: auto;
    gap: 0px;
  }

  #container-hero .hero-img {
    height: 20rem;
    width: 20rem;
    margin-top: 1.4rem;
  }

  #container-hero .hero-text {
    height: auto;
    text-align: center;
  }

  #container-hero .hero-text h1 {
    height: auto;
    text-align: center;
  }

  .skills {
    display: flex; /* Reset display to flex */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
  }

  .skills ul {
    justify-content: center; /* Center the list horizontally */
    flex-direction: column;
  }

  .skills li {
    display: flex;
    flex-direction: column;
    margin-right: 0; /* Remove spacing between images */
    margin-bottom: 10px; /* Add spacing between images vertically */
  }

  .skills p {
    border-bottom: 2px solid #0f2c59;
    border-right: none;
    margin-bottom: 3rem;
    margin-right: 0;
    padding-bottom: 1rem;
    padding-right: 0;
  }
}

/* Media query for the scrolling, to make it slower and nicer*/

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
