input[type='text'], textarea {
    display: block;
    padding: 15px;
    width: 250px;
    margin-top: 25px;
}

input[type="submit"], button {
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    background-color: #f44529;
    text-decoration: none;
    margin-top: 20px;
    border: 0px;
    cursor: pointer;
    width: 80px;
}

input[type="submit"]:hover {
    background-color: rgb(62, 62, 104);
    transition: all 500ms;
    background-position: -100% 0;   
}

input[type="submit"]:not(:hover) {
    background-color: #f44529; 
    transition: all 500ms;
    background-position: -100% 0;
}