.home h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 40px;
    margin-top: 80px;
}

.home strong {
    color: #f44529;
}

.home h2, h3, h4, p {
    font-weight: lighter;
}

.home a {
    padding: 7px;
    border-radius: 5px;
    color: white;
    background-color: #f44529;
    text-decoration: none;
}

.home a:hover {
    background-color: rgb(62, 62, 104);
    transition: all 500ms;
    background-position: -100% 0;
}

.home a:not(:hover) {
    background-color: #f44529; 
    transition: all 500ms;
    background-position: -100% 0;
}

.home .heading,
.page .heading {
    font-style: italic;
    font-size: 40px;
    font-weight: 500;
    color: black;
    margin-bottom: 0px;
}

