.staff-section {
  background-color: white;
  padding-top: 3%;
  padding-bottom: 3%;
}

.section-heading {
  font-family: "Uncut-Sans", sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  animation: wave 0.5s ease infinite alternate;
  position: relative;
  font-size: xx-large;
}

.section-p {
  font-family: "Uncut-Sans", sans-serif;
  color: black;
  font-size: 20px;
}

.staff-section {
  padding: 4%;
}

.section-heading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.section-header-item {
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  border-bottom: 1px solid black;
}

article {
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-text {
  padding-top: 10px;
  margin-bottom: 25px;
}

.position-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

.card-text h3,
.card-text h4 {
  color: black;
  margin: 0;
}

.card-text h3 {
  font-size: 25px;
}


/* Media query for screens below 940px */
@media (max-width: 940px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    grid-auto-rows: auto;
    /* Automatically create new rows */
  }
}
