.about-me {
  font-family: "Uncut-Sans", sans-serif;
  flex-direction: column;
  text-align: center;
  padding: 4% 15% 5% 15%;
  line-height: 25px;
  font-size: 15px;
}

.sommelier {
    color: #f6c5b7;
    text-decoration: none;
}

@media (max-width: 890px) {
.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
}
}
  