.footer {
  min-height: 40px;
  line-height: 7px;
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
  padding-top: 40px;
  color: #0f2c59;
  background-color: #f8f0e5;
  border-top: 3px solid #0f2c59;
}
