@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");

@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
}

/* * {
  background-color: black;
} */

body {
  /* font-family: "Quicksand"; */
  /* font-weight: 600; */
  margin: 0;
  padding: 0;
}

/* .content {
  min-height: 300px;
} */

:root {
  --orange: #f3770d;
  --blue: #0f2c59;
  --olivia: #f6c5b7;
}
