@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
}

body {
  font-family: "Kanit";
  background-color: #f8f0e5;
  color: #0f2c59;
  margin: 0;
  padding: 0;
}

.content {
  min-height: 300px;
}

:root {
  --orange: #f3770d;
  --blue: #0f2c59;
}
